In [60]:
import pandas as pd

In [61]:
data = pd.read_csv("covid19_tweeter_dataset.csv")

In [62]:
data

,Unnamed: 0,Label,Datetime,Tweet,Tokanize_tweet,Unnamed: 5
0,0,-1,2021-01-10 22:06:41+00:00,अमेरिकामा कोभिड बाट एकै दिन चार हजारभन्दा बढीक...,"अमेरिकामा,कोभिड,बाट,एकै,दिन,चार,हजारभन्दा,बढीक...",NaN
1,1,-1,2021-01-10 17:49:34+00:00,कोभिड का कारण विदेशमा रहेका नेपालीहरुमा मानसिक...,"कोभिड,का,कारण,विदेशमा,रहेका,नेपालीहरुमा,मानसिक...",NaN
2,2,1,2021-01-10 16:18:34+00:00,नेपालमा क्लोभर बायोफार्मास्युटिकल्स अस्ट्रेलिय...,"नेपालमा,क्लोभर,बायोफार्मास्युटिकल्स,अस्ट्रेलिय...",NaN
3,3,0,2021-01-10 15:12:17+00:00,कोभिड को खोप पनि लगाइयो,"कोभिड,को,खोप,पनि,लगाइयो",NaN
4,4,-1,2021-01-10 15:07:12+00:00,अमेरिकामा कोभिड को नयाँ रेकर्ड एकै दिन हजारभन्...,"अमेरिकामा,कोभिड,को,नयाँ,रेकर्ड,एकै,दिन,हजारभन्...",NaN
...,...,...,...,...,...,...
33469,33469,0,2020-02-12 01:33:08+00:00,कोरोना भाइरसलाई विश्व स्वास्थ्य संगठनले दियो न...,"कोरोना,भाइरसलाई,विश्व,स्वास्थ्य,संगठनले,नाम,कोभिड",NaN
33470,33470,0,2020-02-12 00:38:07+00:00,डब्ल्युएचओले दियाेको कोरोनाको नयाँ नाम कोभिड,"डब्ल्युएचओले,दियाेको,कोरोनाको,नाम,कोभिड",NaN
33471,33471,0,2020-02-11 19:37:26+00:00,कोरोना भाइरस संक्रमणको औपचारिक नाम अब कोभिड,"कोरोना,भाइरस,संक्रमणको,औपचारिक,नाम,कोभिड",NaN
33472,33472,0,2020-02-11 16:36:40+00:00,विश्व स्वास्थ्य संगठन डब्लुएचओ ले नोबल कोरोना ...,"विश्व,स्वास्थ्य,संगठन,डब्लुएचओ,नोबल,कोरोना,भाइ...",NaN
33473,33473,0,2020-02-11 15:22:16+00:00,कोरोनाभाइरसका सङ्क्रमणको नाम कोभिड भनेर विश्व ...,"कोरोनाभाइरसका,सङ्क्रमणको,नाम,कोभिड,विश्व,स्वास...",NaN

In [63]:
data['Tweet'][30]

'प्रधानमँत्रीज्यू चुनाव गर्ने पैसा हुने तर कोभीड बाट जनताको लागि निशूल्क खोप ल्याउन पैसा नहुने खोप ल्याउन किन ढिलाइ गरिँदैछ देश र जनताप्रति किन लापरबाही'

In [64]:
data['length'] = data['Tokanize_tweet'].apply(
    lambda row: min(len(row.split(",")), len(row)) if isinstance(row, str) else None
)

In [65]:
max(data['length'].tolist())

61.0

In [66]:
data["Tweet"][1]

'कोभिड का कारण विदेशमा रहेका नेपालीहरुमा मानसिक स्वास्थ्य सम्बन्धि समस्या देखिएको र आत्महत्याका घटनाहरु बढेको डा सापकोटाले बताए'

In [67]:
data.head()

,Unnamed: 0,Label,Datetime,Tweet,Tokanize_tweet,Unnamed: 5,length
0,0,-1,2021-01-10 22:06:41+00:00,अमेरिकामा कोभिड बाट एकै दिन चार हजारभन्दा बढीक...,"अमेरिकामा,कोभिड,बाट,एकै,दिन,चार,हजारभन्दा,बढीक...",NaN,9.0
1,1,-1,2021-01-10 17:49:34+00:00,कोभिड का कारण विदेशमा रहेका नेपालीहरुमा मानसिक...,"कोभिड,का,कारण,विदेशमा,रहेका,नेपालीहरुमा,मानसिक...",NaN,18.0
2,2,1,2021-01-10 16:18:34+00:00,नेपालमा क्लोभर बायोफार्मास्युटिकल्स अस्ट्रेलिय...,"नेपालमा,क्लोभर,बायोफार्मास्युटिकल्स,अस्ट्रेलिय...",NaN,20.0
3,3,0,2021-01-10 15:12:17+00:00,कोभिड को खोप पनि लगाइयो,"कोभिड,को,खोप,पनि,लगाइयो",NaN,5.0
4,4,-1,2021-01-10 15:07:12+00:00,अमेरिकामा कोभिड को नयाँ रेकर्ड एकै दिन हजारभन्...,"अमेरिकामा,कोभिड,को,नयाँ,रेकर्ड,एकै,दिन,हजारभन्...",NaN,12.0

In [68]:
data["Label"].value_counts()

 1    14998
-1    13606
 0     4870
Name: Label, dtype: int64

## TFIDF without preprocessing

In [70]:
corpus = data["Tweet"].tolist()

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
Tfidf_vect = vectorizer.fit_transform(corpus)

In [75]:
from sklearn.model_selection import train_test_split
X,y = data['Tweet'], data['Label']
train_X,  test_X, train_y, test_y = train_test_split(X,y, test_size = 0.3, random_state = 520)

In [76]:
Train_X_Tfidf = vectorizer.fit_transform(train_X)
Test_X_Tfidf = vectorizer.transform(test_X)

### Naive Bayes

In [77]:
from sklearn import model_selection, naive_bayes, svm
# fit the training dataset on the NB classifier
Naive = naive_bayes.MultinomialNB()
Naive.fit(Train_X_Tfidf,train_y)
# predict the labels on validation dataset
predictions_NB = Naive.predict(Test_X_Tfidf)

In [78]:
from sklearn.metrics import confusion_matrix
confusion_matrix(test_y, predictions_NB)

array([[2510,    2, 1491],
       [ 453,   20, 1021],
       [ 761,    0, 3785]])

In [79]:
from sklearn.metrics import classification_report
print(classification_report(test_y, predictions_NB))

              precision    recall  f1-score   support

          -1       0.67      0.63      0.65      4003
           0       0.91      0.01      0.03      1494
           1       0.60      0.83      0.70      4546

    accuracy                           0.63     10043
   macro avg       0.73      0.49      0.46     10043
weighted avg       0.68      0.63      0.58     10043

#### Random forest

In [80]:
from sklearn.ensemble import RandomForestClassifier 
from sklearn.model_selection import GridSearchCV
param_grid = { 
    'n_estimators': [100, 200,250,300],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [2,3,4,5],
    'criterion' :['gini', 'entropy']
}
rfc=RandomForestClassifier(random_state=42)

In [81]:
CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 3)
CV_rfc.fit(Train_X_Tfidf,train_y)

GridSearchCV(cv=3, estimator=RandomForestClassifier(random_state=42),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 3, 4, 5],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [100, 200, 250, 300]})

In [82]:
CV_rfc.best_params_

{'criterion': 'gini',
 'max_depth': 5,
 'max_features': 'auto',
 'n_estimators': 250}

In [85]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
rfc1=RandomForestClassifier(random_state=42, max_features='auto', n_estimators= 250, max_depth=5, criterion='entropy')
rfc1.fit(Train_X_Tfidf,train_y)
y_pred=rfc1.predict(Test_X_Tfidf)
print("Accuracy for Random Forest on test data: ",accuracy_score(test_y,y_pred))

Accuracy for Random Forest on test data:  0.5958378970427163

### SVM

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
import numpy as np
C_range = np.logspace(-2, 10, 13)
gamma_range = np.logspace(-9, 3, 13)
param_grid = dict(gamma=gamma_range, C=C_range)
grid = GridSearchCV(SVC(), param_grid=param_grid, cv=3)
grid.fit(Train_X_Tfidf,train_y)
print(grid.best_estimator_)
y_predict=grid.predict(Test_X_Tfidf)

In [ ]:
clf = SVC(C=100.0, gamma=1.0)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print("Accuracy for SVC on test data: ",accuracy_score(y_test,y_pred))